<div class="row">
	<div class="small-12 columns">
		<h1>Dashboard</h1>
	</div>
</div>		
<div class="row">
	<div class="small-12 medium-2 columns">
		<h3>
			<%= link_to "Races", races_path %>
		</h3>
		<h3>
			<%= link_to "Race Days", race_days_path %>
		</h3>
		<h3>	
			<%= link_to "Moments", moments_path %>
		</h3>
		<h3>	
			<%= link_to "Tags", tags_path %>
		</h3>
	</div>
	<div class="small-12 medium-10 columns">
	</div>
</div>