<div class="row full-width">
  <div class="small-8 columns">
    <div id="map"></div>
    <style>
      #map { height: 1000px; }
    </style>
  </div>
  <div class="small-4 columns">
    content content content content content content content content
  </div>
</div>